body {
    font-family: 'Roboto', sans-serif;
}

/* ---------- Navbar ---------- */

.nav-logo {
    height: 40px;
    width:40px;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active:focus,
.navbar-light .navbar-nav .active .nav-link {
    color: grey;
}

.dropdown-item {
    color: red;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus,
.dropdown-item.active {
    color: grey;
    background-color: white;
}

/* ---------- Buttons ---------- */

.btn:focus {
    box-shadow: none;
}

.btn--cta {
    font-weight: bold;
    border-radius: 15px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: red;
    border-color: red;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: red;
    border-color: red;
    color: white;
}

.btn--yellow {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: yellow;
    border-color: yellow;
    color: black;
}

.btn--grey {
    color: white;
    background-color: grey;
    border-color: grey;
}

.btn--white {
    color: black;
    background-color: white;
    border-color: white;
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    background-color: grey;
    border-color: grey;
    color: white;
}

.btn-gap {
    width: 100px;
    height: 100px;
}

/* ---------- Modal ---------- */

.modal-body {
    background-color: #fafafa;
}

.membershipDeets {
    color: red;
}

.datepicker table {
    background-color: #f8f9fa;
}
.datepicker table tr td, .datepicker table tr th {
    border-radius: 5px;
    text-align: center;
    color: #343a40;
    width: 10%;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background-color: #007bff;
    color: #fff;
}
.datepicker table tr td.day.active {
    background-color: #007bff;
    color: #fff;
}
.datepicker table tr td.new, .datepicker table tr td.old {
    color: #6c757d;
}
.datepicker table tr td.today {
    background-color: red;
    color: #fff;
}

.center-clubs {
    margin: auto;
}

/* ---------- Containers ---------- */

.callout-container {
    height: 75vh;

    background: url('../images/snooker.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.logo {
    width: 80px;
    height: 80px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* ---------- Jumbotron ---------- */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron .lead--white {
    color: white;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* ---------- Links ---------- */

.sites a {
    text-decoration: none;
}

.sites .ed {
    color: black;
}

.sites .hol {
    color: white;
}

/* ---------- Block Dividers ---------- */

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
    height: 2px;
    border: 0;
}